@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Ubuntu:wght@400;500&display=swap');
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
    line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;line-height: 1;background-color: transparent;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;line-height: 1;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: center;
  background: transparent;
  border-collapse: collapse;
  font-weight: 400;
}


body {
	background-color: #141513;
	color: #f0f1ff;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 300px;
	background-color: #141513;
	color: #f0f1ff;
}

.logo > img {
	width: 50px;
	height: 50px;
}

.logo {
	background-color: #f0f1ff;
	padding: 10px;
	border-radius: 8px;
	transition: all .3s ease;
}

.header-wrapper {
	display: flex;
	height: 120px;
	align-items: center;
	gap: 20px;
	margin: 0 auto;
	justify-content: center;
	/*justify-content: center;*/
}

.header-text {
	font-size: 25px;
}

.tag {
	font-size: 35px;
	line-height: 20px;
	color: #f0f1ff;
}

.second-row {
	margin-left: 30px;
	display: flex;
	align-items: center;
	gap: 5px;
	/*margin-top: 5px;*/
	/*position: relative;*/
	/*transform: translate(10px, 10px);*/
}

.first-row {
	display: flex;
	align-items: center;
	gap: 5px;
}

.aside {
	color: #141513;
	/*background-color: #f0f1ff;*/
	width: 300px;
	/*height: 100%;*/
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	z-index: 2;
}

.navigation {
	/*padding: 150px 0 0;*/
	margin-top: 120px;
	padding-top: 30px;
	height: 100%;
	background-color: #f0f1ff;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}


.list-nav {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.list-nav-item {
	padding: 0 20px;
	display: block;
}

.link-nav {
	padding: 15px 15px;
	font-size: 20px;
	color: #141513;
	display: block;
	border-radius: 5px;
	transition: all ease .3s;
}

.link-nav:hover {
	background-color: #141513;
	color: #f0f1ff;
}

.main {
	min-height: 100vh;
	width: 100%;
	position: relative;
}

.container {
	min-height: 100vh;
	width: 100%;
	padding-left: 330px;
	padding-right: 30px;
	padding-top: 45px;
}

.content {
	flex-grow: 1;
}

.footer {
	position: fixed;
	left: 35px;
	bottom: 35px;
	background: #141513;
	width: 230px;
	padding: 15px 10px;
	text-align: center;
	font-size: 17px;
	border-radius: 10px;
	z-index: 3;
	line-height: 20px;
}

.name {
	margin-bottom: 10px;
}

.inserted-content {
	max-width: 900px;
	margin: 0 auto;
	padding-bottom: 35px;
}

.content-title {
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	font-size: 28px;
	margin-bottom: 80px;
}

.inserted-text {
	font-size: 17px;
	line-height: 1.5;
	margin-bottom: 30px;
}

.inserted-text > p {
	margin-bottom: 10px;
}

.inserted-text > p:last-child {
	margin: 0;
}

.inserted-text > ul {
	padding-left: 40px;
}

.inserted-text > ul > li {
	margin-bottom: 5px;
	position: relative;
}

.inserted-text > ul > li:after {
	content: '';
	position: absolute;
	width: 15px;
	height: 5px;
	border-radius: 4px;
	background-color: #f0f1ff;
	left: -20px;
	top: 11px;
}

.inserted-title {
	font-size: 20px;
	color: #dfb1e8;
	margin-bottom: 15px;
}

.inserted-image {
	width: calc(100% - 200px);
	overflow: hidden;
	border-radius: 10px;
	margin: 0 auto;
}

.inserted-image > img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

table, th, td {
  border: 1px solid #f0f1ff;
  text-align: center;
}

.thead > tr > th {
    font-weight: bold;
}

th {
    padding: 10px;
}

.large {
	width: calc(100% - 200px);
	margin: 0 auto 30px;
}

.title-small {
	width: calc(100% - 200px);
	margin: 0 auto 30px;
}

.wrapper-table {
	width: calc(100% - 200px);
	margin: 0 auto 30px;
	display: flex;
	justify-content: space-around;
}

.bottom {
	margin-bottom: 30px;
}

.skill-wrapper {
	display: flex;
	width: calc(100% - 100px);
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px;
}

.skill {
	flex: 0 0 30%;
	margin-bottom: 30px;
}

.small {
	font-size: 18px;
}

.days-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
	/*gap: 8px;*/
	width: 100%;
	margin-bottom: 40px;
}

.day {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	line-height: 1em;
	cursor: pointer;
	background-color: #141513;
	color: #f0f1ff;
	border: 1px solid #f0f1ff;
}

.content-small {
	max-width: 1300px;
}

.day.selected {
	background-color: #f0f1ff;
	color: #141513;
}

.vacancy {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border: 1px solid #f0f1ff;
	border-radius: 15px;
	margin-bottom: 30px;
}

.field {
	display: flex;
	gap: 30px;
	flex: 0 0 100%;
}

.field-name {
	flex: 0 0 20%;
	line-height: 16px;
}

.field-content {
	flex-grow: 1;
}

.loading {
	text-align: center;
	font-size: 20px;
	margin-top: 100px;
}

.loading-text {
	margin-bottom: 15px;
}

.hidden {
	display: none;
}