{% extends 'base.html' %}

{% block content %}

    <div class="content-title">
        Популярные навыки Web-разработчика по годам
    </div>

    <div class="inserted">
        <div class="inserted-content">
            <div class="skill-wrapper">
                {% for year, skills in data.items %}
                    <div class="skill">
                        <div class="inserted-title">
                            {{ year }}
                        </div>
                        <div class="small">
                            <table>
                                <thead class="thead">
                                    <tr>
                                        <th>Навык</th>
                                        <th>Количество упоминаний</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for skill in skills %}
                                        <tr>
                                            <th>{{ skill.name }}</th>
                                            <th>{{ skill.count }}</th>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}